<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parallel Test Suite" thread-count="2" parallel="tests" >
<test name="Parallel Test Chrome" >
<classes>
<class name="BrowserStack.ChromRunner"/>
</classes>
</test> <!-- Test -->

<test name="Parallel Test Mobile Browser" >
<classes>
<class name="BrowserStack.MobileBrowser"/>
</classes>
</test> <!-- Test -->

<test name="Parallel Test Iphone" >
<classes>
<class name="BrowserStack.ApkAndriodDevice"/>
</classes>
</test> <!-- Test -->


</suite> <!-- Suite -->
